html,
body {
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 80% 20%;
}

.CodeMirror {
  height: 100vh;
}

.submitButton {
  display: none;
}

.viperidPanel {
  margin: 0.5rem;
}
